version: "3.8"
services:
  web:
    image: examgradingapp:latest
    build: .
    environment:
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5000:80"

  nginx:
    image: nginx:stable
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - web
